.carouselItem:global(.active) {
    opacity: 1;
    transition-duration: 100ms;
}

.carouselItem {
    opacity: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.carousel {
    height: 70vh;
    background-color: #212529;
}

.image {
    object-fit: contain;
    width: 80%;
    height: 60vh;
}

.scrollContainer {
    overflow: auto;
    max-height: 80vh;
    background-color:#2c3034;
    border-radius:var(--bs-border-radius)
}

.scrollContainer::-webkit-scrollbar {
    width: 12px;
}

.scrollContainer::-webkit-scrollbar-track {
    background: #3F4547FF;
    border-radius:var(--bs-border-radius)
}

.scrollContainer::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}